<h1>Merchants</h1>

<section class="new-merchant">
  <%= button_to "Create Merchant", new_admin_merchant_path, method: :get %>
</section>

<section class="top-5-merchants">
  <% @top_five_merchants.each do |merchant| %>
    <p><%= link_to "#{merchant.name}", admin_merchant_path(merchant.id) %> - 
    $<%="#{(merchant.revenue/100.0).round(2)}" %></p>
  <% end %>
</section>


<section class="merchants_in_system">
  <section class="enabled">
    <b><h3>Enabled Merchants</h3></b>
  
      <% @merchants.each do |merchant| %> 
        <% if merchant.status == "enabled" %>
          <div id="merchant-<%=-merchant.id%>">
            <p><%= link_to "#{merchant.name}", admin_merchant_path(merchant) %></p>
            <%= button_to "Disable", admin_merchant_path(merchant, status: :disabled), method: :patch %>
            <%= button_to "Enable", admin_merchant_path(merchant, status: :enabled), method: :patch %>
          </div>
        <%end%>
      <%end%>
  </section>
  <section class="disabled">
    <b><h3>Disabled Merchants</h3></b>
      <% @merchants.each do |merchant| %>
        <% if merchant.status == "disabled" %>
          <div id="merchant-<%=-merchant.id%>">
            <p><%= link_to "#{merchant.name}", admin_merchant_path(merchant) %></p>
            <%= button_to "Disable", admin_merchant_path(merchant, status: :disabled), method: :patch %>
            <%= button_to "Enable", admin_merchant_path(merchant, status: :enabled), method: :patch %>
          </div>
      <%end%>
    <%end%>
  </section>
</section>

