<h1> Merchant Dashboard </h1>

<section id="merchant">
  <h3><%= "Name: #{@merchant.name}" %></h3>
</section>
<section id="merchant_links">
  <%= link_to "Items Index", "/merchants/#{@merchant.id}/items" %>
  <%= link_to "Invoices Index", "/merchants/#{@merchant.id}/invoices" %>
</section>


# <section id="top_customers">
#   <h4> "Top 5 Customers" </h4>
#   <%= @merchant.top_customers %>
# </section>

<section id="items_ready_to_ship">
  <h4> Items Ready to Ship </h4>
  <ul>
    <% @items_ready_to_ship.each do |item| %>
      <li>
        <%= item.name %>
        <%= link_to "Invoice #{item.invoice.id}", "/invoices/#{item.invoice.id}" %>
      </li>
    <% end %>
  </ul>
</section> 

