<h1> Merchant Dashboard </h1>

<section id="merchant">
  <h3><%= @merchant.name %></h3>
</section>

<%= link_to "Items Index", "/merchants/#{@merchant.id}/items" %>
<%= link_to "Invoices Index", "/merchants/#{@merchant.id}/invoices" %>

<section id="top_customers">
  <h4> Top 5 Customers </h4>
  <ul>
    <% @top_customers.each do |customer| %>
      <li><%= "#{customer.first_name} #{customer.last_name}: #{customer.top_customers}" %></li>
    <% end %>
  </ul>
</section>

<section id="items_ready_to_ship">
  <h4> Items Ready to Ship </h4>
  <ul>
    <% @items_ready_to_ship.each do |item| %>
      <li>
        <%= item.name %>
        <%= link_to "Invoice #{item.invoice.id}", "/invoices/#{item.invoice.id}" %>
      </li>
    <% end %>
  </ul>
</section> 