<h1> Merchant Dashboard </h1>

<section id="merchant">
  <h3><%= @merchant.name %></h3>
</section>

<div id="top_customers">
  <h3>Top 5 Customers by Completed Transactions:</h3>
  <ul>
    <% @merchant.top_five_customers.each do |customer| %>
      <li><%= "#{customer.first_name} #{customer.last_name}: #{customer.transaction_count}" %></li>
    <% end %>
  </ul>
</div>

<div id="merchant_links">
  <%= link_to "Items Index", merchant_items_path(@merchant) %>
  <%= link_to "Invoices Index", merchant_invoices_path(@merchant) %>
</div>

<div id="items_ready_to_ship">
    <h2>Items Ready to Ship</h2>
    <% @items_ready_to_ship.each do |item| %>
      <p><%= item.name %></p>
        <%= link_to "Invoice #{merchant.items.invoices.id}", invoice_path(merchant.items.invoices.id) %>
        <% end %>
  </div>
