<h1><%= @merchant.name %> Item <%= @merchant_item.id %> </h1>
<div>
  <p> <%= link_to "Update Item", edit_merchant_item_path(@merchant, @merchant_item) %></p>
  <p> Name: <%= @merchant_item.name %> </p>
  <p> Description: <%= @merchant_item.description %> </p>
  <p> Current Selling Price: <%= @merchant_item.unit_price %> </p>
</div>