<h1><%= @merchant.name %> Item <%= @merchant_item.id %> </h1>
<div>
  <p> <%= @merchant_item.name %> </p>
  <p> <%= @merchant_item.description %> </p>
  <p> <%= @merchant_item.unit_price %> </p>
</div>